canvas {
	position: absolute;
}

#chat{
	position: absolute;
}

#msg {
	position:absolute; 
	width:45%;
	z-index:101; 
	display: none;
	border: none;
	border-radius:2px;
	bottom:5px; 
	left:5px;
	padding: 5px 10px 5px 5px;
}

#chatArea{
	position: absolute;
	display:none;
	background:rgba(50,50,50,0.5);
	border-radius: 2px;
	padding: 5px 10px 5px 5px;
	bottom:40px;
	left:5px;
	width:45%;
}

b {
	color: lightblue;
}

textarea {
    resize: none;
    bottom:35px;
	left:5px;
}

#container {
	position: relative;
	background: #FFF;
}