#infobar {
	position: absolute;
	background:rgba(50,50,50,0.5);
	border-radius: 3px;
	
	padding-left: 5px;
	padding-right: 5px;
}

#infobar.options {
	right: 100px;
}

#infobar button {
	height: 50px;
	width:32px;
	height:32px;
	margin-top:3px;
	margin-bottom:3px;
	padding: 0;
	border: none;
}

#infobar.dynamic {
	right: 300px;
}

#infobar.dynamic p {
	display: inline;
}

#infobar.dynamic img {
	width:16px;
	height:16px;
}

#mail {
	box-sizing: border-box;
	position: absolute;
	background: #2c2c2c;
	width: 350px;
	height: 250px;
	margin-bottom:2px;
	margin-right:2px;
	padding: 0px 0px 0px 0px;
	border-style: solid;
	border-color: #5c5c5c;
	opacity:0;
}

.menuitem {
	position: absolute;
	background: #2c2c2c;
	-moz-box-shadow: inset 0 0 3px #000000;
	box-shadow: inset 0 0 3px #000000;

	height: 100%;
	width: 50%;
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 0;
}

#titlebar {
	background: #5c5c5c;
	width:100%;
	height:15px;
}

#inventory {
	right:0px;
}


#inventory #window_data #slot {
	width:32px;
	height:32px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	box-shadow: inset 0 0 3px #000000;
	border-radius:7px;
	display: inline-block;
}

#skills {
	left: 0px;
}


#menubar {
	position: absolute;
	border:none;
	margin: 0 0 0 0;
	bottom:0px;
	right:0px;
	height: 125px;
	width:50%;
	background: #000;
	overflow:hidden;
}

#window_data {
	margin: 10px 2px 2px 10px;
}